<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'website/style.css' %}">
    <style>
        body {
            background-image: url('{% static "website/EWE-baggrundsbillede-website.png" %}');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body class="center-screen">
    <br>
    <br>
    <br>
    <br>
    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
    <div class="form-group">

        <label for="{{ form.username.id_for_label }}"
               style="font-weight: bold; font-size: 25px;">Email:</label>
        <br>
        {{ form.username }}
        {{ form.username.errors }}

    </div>
        <br>
    <div class="form-group">

        <label for="{{ form.password.id_for_label }}"
        style="font-weight: bold; font-size: 25px;">Password:</label>
        <br>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
        <div>
            <br>
        <button type="submit" style="padding: 16px; width: 200px; background-color:
      darkblue; color:aliceblue; border-radius: 8px;font-size: 18px" id="login">Log in</button>
        </div>
        <br>
        <br>
        <br>
        <div>
        <button onClick="document.location.href = '../../create_user'" style="padding: 16px; width: 200px; background-color:
        darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Create user</button>
        </div>
    </form>
</body>
</html>
