<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url(../../assets/images/EWE-baggrundsbillede-website.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Field user home page</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h1>INFO: Field user home page</h1>

    <h1>BUTTON: Personal info</h1>
    <h1>BUTTON: Facility access</h1>
    <h1 style="color:red;"> BUTTON: Log out </h1>
</body>
</html>