<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            background-image: url({% static "office_user/EWE-baggrundsbillede-website.png" %});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Add facility</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h1>INFO: Add facility page</h1><br>
    <h1>BOX: Name</h1><br>
    <h1>BOX: Address</h1><br>
    <h1>BOX: Owner</h1><br>
    <h1>BOX: Key</h1><br>
    <br>
    <button style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Create facility</button><br>
    <br>
    <button onClick="document.location.href = '../'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">back</button><br>
</body>
</html>