<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            background-image: url({% static "office_user/EWE-baggrundsbillede-website.png" %});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Edit facility page</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h1>INFO: Edit Facility page</h1>
    <h1>BOX-DROPDOWN: Facility</h1>
    <h1>BOX-EDIT: Name</h1>
    <h1>BOX-EDIT: Address</h1>
    <h1>BOX-EDIT: Owner</h1>
    <h1>BOX-EDIT: Key</h1>
    <br>
    <button style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Accept</button>
    <br>
    <button onClick="document.location.href = '../'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Back</button>

</body>
</html>