<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            background-image: url({% static "office_user/EWE-baggrundsbillede-website.png" %});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Facility logs</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h1>INFO: Facility logs</h1>
    <br>
    <br>
    <h1>BOX-DROPDOWN: Facility</h1>
    <h1>BOX-DROPDOWN: Date</h1>
    <h1>INFO: Date and time with user </h1>
    <br>
    <br>
    <button onClick="document.location.href = '../'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">back</button>
</body>
</html>