<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            background-image: url({% static "office_user/EWE-baggrundsbillede-website.png" %});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>office user home page</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <h1>INFO: Field user home page</h1>
    <button onClick="document.location.href = 'office_user_info/'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Personal info</button>
    <br>
    <button onClick="document.location.href = 'office_user_access/'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Facility access</button>
    <br>
    <button onClick="document.location.href = '../accounts/login'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Log out</button>

</body>
</html>