<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            background-image: url({% static "office_user/EWE-baggrundsbillede-website.png" %});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action="" method = "POST">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="name"; >Name:</label></td>
                    <td><input type="text" id="name" name="name" value={{ user.name }}></td>
                    <td><button onclick="" style="padding: 4px; width: 40px; background-color:
                        lightskyblue; color:aliceblue; border-radius: 8px;font-size: 12px">Edit</button></td>
                </tr>
                <tr>
                    <td><label for="company"; >Company:</label></td>
                    <td><input type="text" id="company" name="company" value={{ user.company }}></td>
                    <td><button onclick="" style="padding: 4px; width: 40px; background-color:
                        lightskyblue; color:aliceblue; border-radius: 8px;font-size: 12px">Edit</button></td>
                </tr>
                <tr>
                    <td><label for="phoneNumber"; >Phone number:</label></td>
                    <td><input type="tel" id="phoneNumber" name="phoneNumber" pattern="[0-9]{6,20}" value={{ user.phoneNumber }}></td>
                    <td><button onclick="" style="padding: 4px; width: 40px; background-color:
                        lightskyblue; color:aliceblue; border-radius: 8px;font-size: 12px">Edit</button></td>
                </tr>
                <tr>
                    <td><label for="email"; >Email:</label></td>
                    <td><input type="email" id="email" name="email"  value={{ user.email }} ></td>
                    <td><button  style="padding: 4px; width: 40px; background-color:
                        lightskyblue; color:aliceblue; border-radius: 8px;font-size: 12px">Edit</button></td>
                </tr>
                <tr>
                    <!-- Update to become functional -->
                    <td><label for="password"; >Password:</label></td>
                    <td> **** **** **** </td>
                    <td> <!-- <button  style="padding: 4px; width: 40px; background-color:
    lightskyblue; color:aliceblue; border-radius: 8px;font-size: 12px">Edit</button></td> -->
                </tr>
            </table>
        <br>
        <br>

        </form>
    <button style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Upgrade to office user</button>
    <br>
    <br>
    <button onClick="document.location.href = '../office_edit_user'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">back</button>
    <button style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Delete user</button>

</body>
</html>