<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            background-image: url({% static "office_user/EWE-baggrundsbillede-website.png" %});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- BOX-DROPDOWN: company -->
    <h1>Choose a company</h1>
    <form action={% url 'office_edit_user' %} method="post">
    {% csrf_token %}
        <select name="company_list">
            <option value="None" selected hidden>Choose company</option>
            <option value="None">All companies</option>
            {% for val in company %}
                <option value={{ val }}> {{ val }} </option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter">
    </form>
    <br>

    <!-- BOX-DROPDOWN: user -->
    <h1>{{ header_text }}</h1>
    <form action={% url 'office_edit_user_final'  %}>
    {% csrf_token %}
        <select name="users_list">
            {% for val in users %}
                <option value="None" selected hidden>Choose user</option>
                <option value={{ val.email }}> {{ val.name }} </option>
            {% endfor %}
        </select>
        <input type="submit" value="Edit user">
    </form>

    <br>
    <br>
    <br>
    <br>
    <button onClick="document.location.href = '../../office_user_home/'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">back</button>
</body>
</html>