<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <style>
        body {
            background-image: url({% static "office_user/EWE-baggrundsbillede-website.png" %});
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
    <br>
    <br>
    <br>
    {{ user }}
    <br>
    <h1>INFO: Edit the changes</h1>
    <h1>BOX: Name</h1>
    <h1>BOX: Phone with Edit</h1>
    <h1>BOX: Email with Edit</h1>
    <h1>BOX: Company</h1>
    <h1>BOX: Password</h1>
    <h1>BOX: User type</h1>
    <button style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Upgrade to office user</button>
    <br>
    <br>
    <button onClick="document.location.href = '../office_edit_user'" style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">back</button>
    <button style="padding: 16px; width: 200px; background-color:
    darkblue; color:aliceblue; border-radius: 8px;font-size: 18px">Delete user</button>

</body>
</html>